

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form class="" action="/weather" method="post">
          <input type="text" name="area" value="">
        </form>
      </div>
    </div>
  </div>
</section>

<% @forecasts.each do |forecast| %>

  <li><%= forecast[:curDate] %><li>
  <li><%= forecast[:timeZone] %></li>
  <li><%= forecast[:curSum] %></li>
  <li><%= forecast[:curTemp] %></li>
  <li><%= forecast[:curPrecip] %></li>
  <li><%= forecast[:maxTomorTemp] %></li>
  <li><%= forecast[:minTomorTemp] %></li>
  <form class="" action="/weather/delete" method="post">
    <input type="hidden" name="weather_id" value="<%= forecast[:id] %>">
    <button class="btn btn-primary" type="submit">DELETE!!!</button>
  </form>
<% end %>
