<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <form class="" action="/weather" method="post">
            <input type="text" class="btn btn-default"placeholder="Enter city or zip code" name="area" value="">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <input class="btn btn-success form-control" type="submit" value="SUBMIT">
          </form>
        </div>
      <div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
    </div>
  </div>
</section>

<% @forecasts.each do |forecast| %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <% p forecast %>
        <h2><%= forecast[:timeZone] %></h2>
        <ul>
          <li>Current Forecast: <%= forecast[:curSum] %></li>
          <li>Current Temp: <%= forecast[:curTemp] %></li>
          <li>Current Precip: <%= forecast[:curPrecip] %></li>
          <li>Tomorrow's HI: <%= forecast[:maxTomorTemp] %></li>
          <li>Tomorrow's LO: <%= forecast[:minTomorTemp] %></li>
        </ul>
        <form class="" action="/weather/delete" method="post">
          <input type="hidden" name="weather_id" value="<%= forecast[:id] %>">
          <button class="btn btn-primary" type="submit">DELETE!!!</button>
        </form>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
  </div>
</section>
<% end %>
