<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="zip">
        <form class="" action="/weather" method="post">
          <input type="text" placeholder="Enter city or zip code" name="area" value="">
      </div>
        </form>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-xs-2 col-sm-3 col-md-4 col-lg-5"></div>
      <div class="col-xs-8 col-sm-6 col-md-4 col-lg-2">
        <form class="" action="/weather" method="post">
          <input class="btn btn-success form-control" type="submit" value="SUBMIT">
        </form>
      </div>
      <div class="col-xs-2 col-sm-3 col-md-4 col-lg-5"></div>
    </div>
  </div>
</section>

<% @forecasts.each do |forecast| %>
<section id="center">
  <div class="container">
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4"></div>
      <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4">
        <% p forecast %>
        <h2><%= forecast[:timeZone] %></h2>
        <ul id="format">
          <li>Current Forecast: <%= forecast[:curSum] %></li>
          <li>Current Temperature: <%= forecast[:curTemp] %> °F</li>
          <li>Chance of rain: <%= forecast[:curPrecip] * 100 %>%</li>
          <li>Tomorrow's High: <%= forecast[:maxTomorTemp] %> °F</li>
          <li>Tomorrow's Low: <%= forecast[:minTomorTemp] %> °F</li>
        </ul>
        <form class="" action="/weather/delete" method="post">
          <input type="hidden" name="weather_id" value="<%= forecast[:id] %>">
          <button class="btn btn-primary" type="submit">DELETE!!!</button>
        </form>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-4 col-lg-4"></div>
    </div>
  </div>
</section>
<% end %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-3 col-md-4 col-lg-5"></div>
      <div class="col-xs-8 col-sm-6 col-md-4 col-lg-2">
        <form class="" action="/accounts/logout" method="get">
          <button class="btn btn-warning form-control" type="submit" name="button">Logout</button>
        </form>
      </div>
      <div class="col-xs-2 col-sm-3 col-md-4 col-lg-5"></div>
    </div>
  </div>
</section>
